@page
@using VisitorPlacementModels
@model IndexModel

<!DOCTYPE html>
<html>
<head>
    <title>Event Seating</title>
</head>
<body>
    <div class="container">
    <div id="parcours" class="text-center h2">Parcours</div>
    <div class="row mx-auto justify-content-around" id="section-container">
        @foreach (var sect in Model.Sections)
        {
            <div class="section col-md-@(sect.Rows[0].Seats.Count / 2)">
                <h2 class="text-center">@sect.Name</h2>
                @for (int row = 1; row <= sect.Rows.Count; row++)
                {
                    <div class="row flex">
                        @for (int seat = 1; seat <= sect.Rows[0].Seats.Count; seat++)
                        {
                            var currentSeat = sect.Rows[row - 1].Seats[seat - 1];
                            var visitor = Model.Visitors.FirstOrDefault(v => v.SectionName == sect.Name && v.RowNumber == row && v.SeatNumber == seat);

                            <div class="seat" style="width: calc((100% / @sect.Rows[0].Seats.Count) - 2px);">
                                @if (visitor != null)
                                {
                                    <div class="visitor">
                                        @visitor.Name
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>

    <div class="container">
        <table id="visitor-table">
            <tr>
                <th>Name</th>
                <th>Date of birth</th>
                <th>Registration Date</th>
                <th>Section</th>
                <th>Row</th>
                <th>Seat</th>
            </tr>
            @foreach (var group in Model.Groups)
            {
                foreach (var visitor in group.Visitors)
                {
                    <tr>
                        <td>@visitor.Name</td>
                        <td>@visitor.DateOfBirth</td>
                        <td>@visitor.RegistrationDate</td>
                        <td>@visitor.SectionName</td>
                        <td>@visitor.RowNumber</td>
                        <td>@visitor.SeatNumber</td>

                    </tr>
                }
            }
        </table>
    </div>

</body>


</html>

